@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --background-color: #f9f4ff;
}
html, body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 50px;

    margin: 0 -0.3em;
    margin-bottom: 1em;
}

a {
    color: #6D2BC1;
}

body {
    /* margin: 2em 100px;  */
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
    /* font-size: 3vmin; */
}
header {
    text-align: right;
}

header h1{
    font-size: 4em;
    line-height: 1;
}

header p.description{
    font-size: 1em;
    font-style: italic;
    opacity: 0.5;
    text-transform: none;
    margin-bottom: 1.5em;
}

header p{
    font-size: 1em;
    margin: 0.5em 0;
    text-transform: uppercase;
}


#all-clubs{
    padding: 0 0.5em;
    background-color: #6D2BC1;
    color: white;
    position: absolute;
    top: 2em;
    left: 2em;
    transform: rotate(-20deg);
}


nav {
    margin: 0.5em 0;
    margin-left: 0.5em;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.4em;
    padding-right: 1em;
    font-style: italic;
    margin-left: 0.5em;
    border: 1px solid black;
    display: inline-block;
}

nav .currentPage {
    font-weight: bolder;
    transform: translateY(calc(0.5em + 1px));
    border-bottom: 1px solid transparent;
}

main {
    padding: 2em;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 8px 20px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 2.5em;
    }
    nav{
        margin: 1em 0;
    }
    nav a {
        display: block;
        margin: 0.5em 0;
    }
    nav .currentPage {
        border: 1px solid black;
        transform: translateY(0);
    }
    main {
        margin: 0 -2em;
        border-left: none;
        border-right: none;
    }
    
}

